<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<bean id="naveen" class="com.mondee.Student" >

<property name="sid" value="121"></property>
<property name="sname" value="naveen"></property>
<property name="smarks" value="400"></property>

</bean>

</beans>