<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctor home</title>
    <style>
           body    {
           background-color: silver ; 
           padding-top: 100px;
           font-weight: bolder ;
          text-shadow:  3px 3px 5px black;
           
            }
            </style>
</head>
<body>
<h2>Doctor Home</h2>
<center>
    <a th:href="@{/doctor/myprofile/{id}(id=${doctor.id})}">Profile</a>
    <a th:href="@{/doctor/myappointments/{id}(id=${doctor.id})}">My appointments</a>
    <a th:href="@{/}">Logout</a>
</center>
</body>
</html>