<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
           body    {
           background-color: wheat ; 
           padding-top: 100px;
           font-weight: bolder ;
           text-shadow:  3px 3px 5px black;
           
            }
            </style>
</head>
<body align="center"  >
 <a href="/patientLogin" >PatientLogin </a> ||
 <a href="/doctorLogin">Doctor Login </a> ||
 <a href="/patientRegister">Patient Registration </a>||
 <a href="/doctorRegister">Doctor Registration </a>||
 <a href="">Support  </a>
</body>
</html>